/*color pallet
#4E7781 - payne's gray (light blue/gray)
#0A324C	- prussian blue (richer darker blue)
#A7ABA1 - quick silver (silver grey)
#15436B - dark imperial blue (lighter than prussian blue)
#C5C0A9 - dark vanilla (creamy color)
https://coolors.co/4e7781-0a324c-a7aba1-15436b-c5c0a9*/


body {
	width: 1440px;
	background: #4E7781;	
	background-image: url("../images/snapseed.jpg");
	background-size: 1440px;
	color: #C5C0A9;
	/*font-family: 'Raleway', sans-serif;
	font-family: 'Lora', serif;
	font-family: 'Just Another Hand', cursive;*/
	font-family: 'Abril Fatface', cursive;
}

.mainBox {
	margin: auto;
	margin-top: 100px;
	padding: auto;
	min-height: 700px;
	width: 70%;
	background: #15436B;
	border: 2px solid black;
	border-radius: 10px;
}

.title {
	text-align: center;
	padding: 25px;
	background: #0A324C;
	color: #A7ABA1;
	border-bottom: 2px solid black;
}

.subBox {
	text-align: center;
	background: #15436B;
/*	color: #C5C0A9;
*/
}

.startBTN {
	font-size: 24px;
	padding: 15px 32px;
}

.resetBTN {
	font-size: 24px;
	padding: 15px 32px;
	visibility: none;
}